<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>お天気サイト練習用</title>
</head>
<body>
    <h1>Weather Information</h1>
    <h2>今日の天気を知りたい場所を選択してください。</h2>

    <form action="">
    <select name="place" required>
        <option value="osaka">大阪</option>
        <option value="hyogo(kobe)">兵庫（神戸）</option>
        <option value="nara">奈良</option>
        <option value="wakayama">和歌山</option>
        <option value="kyoto">京都</option>
        <option value="siga(otsu)">滋賀（大津）</option>
        <option value="mie(tsu)">三重（津）</option>
    </select>
    <button type="submit">確認する</button>
    </form>
    
</body>
</html>